.delete{
    position: absolute;
    right: 0px;
width: 124px;
height: 40px;
background: #EB5757;
border-radius: 4px;
color: #ffffff;
border-style: none;
display: flex;
vertical-align: middle;
align-items: center;
cursor: pointer;
margin-top: 16px;
}

.completedDiv{
    position: relative;
}

.material-icons{
    cursor: pointer;
}